<form
  (ngSubmit)="onSubmit(ContactForm)"
  #ContactForm="ngForm"
  class="contact-form"
>
  <section>
    <div
      class="input-wrapper"
      [ngClass]="{
        'invalid-input-value': name.invalid && focusOnName,
        'valid-input-value': name.valid && focusOnName
      }"
      (click)="focusInputField('name')"
    >
      <input
        #Name_Input
        #name="ngModel"
        [(ngModel)]="contactData.name"
        name="name"
        type="text"
        required
        placeholder="Your name"
        (focus)="onFocusNameField()"
        (blur)="onBlurNameField()"
        minlength="3"
      />
      <img src="/assets/img/Frame.png" *ngIf="name.invalid && focusOnName" />
      <img src="/assets/img/Vector.png" *ngIf="name.valid" />
    </div>
    <span class="error-message" *ngIf="name.invalid && focusOnName"
      >Please enter a name</span
    >
  </section>

  <section>
    <div
      class="input-wrapper"
      [ngClass]="{
        'invalid-input-value': email.invalid && focusOnEmail,
        'valid-input-value': email.valid && focusOnEmail
      }"
      (click)="focusInputField('email')"
    >
      <input
        [(ngModel)]="contactData.email"
        name="email"
        type="text"
        required
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
        placeholder="Your email"
        #email="ngModel"
        (focus)="onFocusEmailField()"
        (blur)="onBlurEmailField()"
      />
      <img src="/assets/img/Frame.png" *ngIf="email.invalid && focusOnEmail" />
      <img src="/assets/img/Vector.png" *ngIf="email.valid" />
    </div>
    <span class="error-message" *ngIf="email.invalid && focusOnEmail"
      >Please enter a valid email</span
    >
  </section>

  <section>
    <textarea
      [(ngModel)]="contactData.message"
      name="message"
      required
      placeholder="Your message"
      #message="ngModel"
      minlength="5"
      (focus)="onFocus()"
      (blur)="onBlur()"
      [ngClass]="{ 'valid-input-value': message.valid }"
      [ngClass]="{ 'invalid-input-value': message.invalid && isFocused }"
    ></textarea>
    <span class="error-message" *ngIf="message.invalid && isFocused"
      >Please enter a message</span
    >
  </section>

  <div class="checkbox">
    <img [src]="checkboxImg" (click)="changeCheckboxImg()" />
    <p>
      I've read the <b>privacy policy</b> and agree to the processing of my data
      as outlined.
    </p>
  </div>
  <button class="button-settings">Say hello ;)</button>
</form>
