@import "./../../../../styles.scss";

.contact-form {
  @include dflexColumn($g: 20px);
  > input {
    @include inputfield-setting();
  }
  > textarea {
    @include inputfield-setting($height: 200px, $padding-top: 10px);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  > img {
    cursor: pointer;
    &:hover {
      background: rgba(181, 255, 237, 1);
      border-radius: 38px;
    }
  }
  > p {
    font-size: 14px;
  }
}

.error-message {
  color: red;
}
