@import "./../../../styles.scss";

main {
  height: 250px;
  background: radial-gradient(
    71.18% 335.57% at 28.82% -124.4%,
    #57e8a2 51.56%,
    #33b476 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  > a {
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    transform: translateX(-50%);
    transition: transform 1s ease-in-out;
    &:hover {
      font-weight: bold;
      &::after {
        content: "";
        display: block;
        width: 50%; /* Unterstreichungsbreite auf 50% des Elements setzen */
        height: 2px; /* Höhe der Unterstreichung */
        background-color: white; /* Farbe der Unterstreichung */
        position: absolute;
        bottom: -5px; /* Position unter dem Text */
        left: 50%;
        transform: translateX(-50%); /* Zentriert die Unterstreichung */
        animation: slideIn 0.5s forwards;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%); /* Start von links außerhalb des Sichtfelds */
  }
  to {
    transform: translateX(-50%); /* Endposition zentriert unter dem Text */
  }
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  > p {
    font-size: 23px;
    color: white;
    font-weight: 400;
  }
  > div {
    display: flex;
    gap: 42px;
    align-items: center;
    > a img {
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@keyframes fadeOutScaleDown {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
}

.fadeOut {
  animation: fadeOutScaleDown 0.5s ease-out forwards;
}

/* ===========
MEDIA - QUERIES
==============*/
@media (max-width: 680px) {
  main {
    height: 300px;
    > a {
      bottom: 24px;
      left: 50%;
    }
  }

  section {
    flex-direction: column;
    gap: 24px;
  }
}
