@import "./../../../styles.scss";

main {
  height: 250px;
  background: radial-gradient(
    71.18% 335.57% at 28.82% -124.4%,
    #57e8a2 51.56%,
    #33b476 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  > p {
    font-size: 23px;
    color: white;
  }
  > div {
    display: flex;
    gap: 42px;
    align-items: center;
    > img {
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
