@import "./../../../styles.scss";

main {
  position: relative;
  padding-block: clamp(32px, 3vw, 100px);
  padding-inline: clamp(24px, 3vw, 64px);
  background: linear-gradient(179.99deg, #ffffff 12.89%, #d7ffec 91.39%);
  @include fadeInSettings();
}

.content-wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  > h1 {
    font-family: "Baloo 2";
    font-size: clamp(60px, 11vw, 100px);
    font-weight: 600;
    color: #57e8a2;
    line-height: 0.8;
  }
}

.contact {
  display: flex;
  gap: 50px;
  margin-top: clamp(24px, 10vw, 80px);
}

.contact-text {
  @include dflexColumn(
    $g: clamp(24px, 7vw, 50px),
    $ai: flex-start,
    $jc: flex-start
  );
  max-width: 64ch;
  > h2 {
    font-size: clamp(23px, 5vw, 32px);
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    color: rgba(87, 232, 162, 1);
  }
  > h4 {
    font-size: 16px;
    color: rgba(87, 232, 162, 1);
    font-weight: 400;
  }
}

.ellipse-one {
  width: clamp(140px, 18vw, 250px);
  position: absolute;
  left: 15%;
  bottom: 0;
}

.ellipse-two {
  position: absolute;
  width: 73px;
  right: 32px;
  bottom: 16px;
}

.go-up {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 80px;
  background: radial-gradient(
    74.22% 74.22% at 19.79% 22.42%,
    #57e8a2 51.56%,
    #33b476 100%
  );
  padding: 5px;
  border-radius: 40px;
  cursor: pointer;
  &:hover {
    background: transparent;
    border: 1px solid red;
    filter: sepia(1) saturate(10000%) hue-rotate(0deg);
  }
}

/* ===========
MEDIA - QUERIES
==============*/
@media (max-width: 1024px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }

  .go-up {
    bottom: 32px;
  }

  .ellipse-one {
    position: absolute;
    left: 50%;
    top: 40%;
  }

  .ellipse-two {
    width: 45px;
    bottom: 75px;
    right: 32px;
  }
}

@media (max-width: 390px) {
  h4 {
    padding-right: 50px;
  }
}
