<main>
  <h1>Contact</h1>

  <section class="contact">
    <div class="contact-text">
      <h2>Got a problem to solve?</h2>
      <p>
        Contact me through this form, I am interested in hearing from you,
        getting to know your ideas and contributing to your projects with my
        work.
      </p>
      <h4>Need a Frontend developer? Contact me!</h4>
    </div>
    <div class="contact-form">
      <input type="text" />
      <input type="text" />
      <input type="text" />
    </div>
  </section>
</main>
