<main>
  <h1>Contact</h1>
  <img class="ellipse-one" src="./../../../assets/img/Ellipse 9.png" />

  <section class="contact">
    <div class="contact-text">
      <h2>Got a problem to solve?</h2>
      <p>
        Feel free to contact me through this form. I'm interested in hearing
        from you, learning about your ideas, and possibly contributing to your 
        projects with my work.
      </p>
      <h4>Need a Frontend developer? <b>Contact me!</b></h4>
    </div>

    <app-contact-form></app-contact-form>
  </section>
</main>
