<main>
  <div class="content-wrapper">
    <section>
      <img src="/assets/img/logo.png" />

      <p>© Dimitrios Kapetanis 2024</p>

      <div>
        <a href="https://github.com/diimmeeyyyyy">
          <img src="./../../../assets/img/Github button footer.png" />
        </a>
        <a href="mailto:dimitrioskapetanis1996@gmail.com">
          <img src="./../../../assets/img/Email button footer.png" />
        </a>
        <a href="#">
          <img src="./../../../assets/img/Linkedin button footer.png" />
        </a>
      </div>
    </section>

    <a href="imprint">{{ "imprint" | translate }}</a>
  </div>
</main>