<main>
  <div class="content-wrapper">
    <img
      class="corner-ellipse"
      src="./../../assets/img/Ellipse 9.png"
      data-aos="fade-down"
    />
    <img
      class="portfolio-foto"
      src="./../../../assets/img/foto.png"
      data-aos="fade-right"
    />

    <section class="headline" data-aos="fade-left">
      <p>{{ "greeting" | translate }}</p>
      <div>
        FRONTEND <br />
        DEVELOPER
      </div>
    </section>

    <section class="connect-with-me" data-aos="fade-left">
      <a href="https://github.com/diimmeeyyyyy" target="_blank"
        ><img src="/assets/img/Github button s2.png"
      /></a>
      <a href="mailto:dimitrioskapetanis1996@gmail.com" target="_blank"
        ><img src="/assets/img/Email button s2.png" />
      </a>
      <a href="" target="_blank"
        ><img src="/assets/img/Linkedin button s2.png"
      /></a>
    </section>

    <section class="scroll-down" data-aos="fade-up">
      <p>scroll</p>
      <p></p>
    </section>

    <img class="bottom-ellipse" src="./../../assets/img/Ellipse 9.png" />
  </div>
</main>
