@import "./../../styles.scss";

main {
  position: relative;
  padding-block: 150px;
  padding-inline: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  > img {
    width: 82px;
    position: absolute;
    top: 40px;
    right: 200px;
  }
  > section:nth-of-type(1) {
    font-family: "Baloo 2";
    font-size: 100px;
    font-weight: 600;
    color: #57e8a2;
    line-height: 0.8;
    > p {
      width: max-content;
    }
  }
  > section:nth-of-type(2) {
    @include dflexColumn($g: 10px);
    font-size: 23px;
    position: relative;
    > button {
      position: absolute;
      bottom: -70px;
      padding: 15px 30px;
      border: 2px solid #57e8a2;
      border-radius: 10px;
      color: #57e8a2;
      cursor: pointer;
      background-color: transparent;
      font-size: 23px;
      box-sizing: border-box;
      &:hover {
        animation: fillButton 100ms ease-in-out forwards;
        animation-delay: 1ms;
        color: white;
        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
      }
      &:active {
        background-color: #33b476;
      }
    }
  }
}

@keyframes fillButton {
  0% {
    background-color: transparent;
    padding: 15px 30px;
  }
  25% {
    background: linear-gradient(
      45deg,
      #57e8a2 0%,
      #33b476 50%,
      #ffffff 50%,
      #ffffff 100%
    );
    padding: 15px 30px;
  }
  60% {
    background: linear-gradient(
      45deg,
      #57e8a2 0%,
      #33b476 50%,
      #ffffff 50%,
      #ffffff 100%
    );
    padding: 18px 35px;
  }
  100% {
    background: radial-gradient(circle, #57e8a2 0%, #33b476 100%);
    padding: 20px 40px;
  }
}
