<main>
  <img src="./../../assets/img/Ellipse 9.png" />
  <section>
    <p>Let's work</p>
    <p>together</p>
  </section>

  <section>
    <article>
      I am a 27- years old Front-end developer based in Dortmund, Germany. I
      enjoy helping Designers and companies bring their ideas into real life. I
      am looking forward to continuing my developer career with a job in a
      junior web developer position.<br /><br />
      If you think I'd be a good match for your projects, contact me!
    </article>
    <button>Send a message</button>
  </section>
</main>
