@import "./../../../styles.scss";

main {
  padding-block: 100px;
  padding-inline: clamp(24px, 3vw, 64px);
  position: relative;
  overflow: hidden;
}

.content-wrapper{
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.headline {
  @include dflexColumn($g: 20px, $ai: flex-start);
  max-width: 680px;
  > h1 {
    font-family: "Baloo 2";
    font-size: clamp(64px, 11vw, 100px);
    font-weight: 600;
    color: #57e8a2;
    line-height: 0.8;
  }
  > p {
    font-size: clamp(18px, 4vw, 23px);
  }
}

.ellipse-one {
  width: clamp(45px, 10vw, 100px);
  position: absolute;
  top: 1%;
  left: clamp(250px, 60vw, 500px);
}

.ellipse-two {
  width: clamp(70px, 13vw, 180px);
  position: absolute;
  right: 10%;
  top: 10%;
}

.ellipse-three {
  width: clamp(300px, 4vw, 400px);
  position: absolute;
  left: -10%;
  top: 550px;
  z-index: -1;
}

.ellipse-four {
  width: clamp(250px, 60vw, 650px);
  position: absolute;
  top: 800px;
  right: -325px;
  z-index: -1;
}

.ellipse-five {
  width: 50px;
  position: absolute;
  top: 1333px;
  left: 150px;
}

.ellipse-six {
  width: 250px;
  position: absolute;
  top: 1700px;
  left: 100px;
  z-index: -1;
}

.ellipse-seven {
  display: none;
  width: 100px;
  position: absolute;
  right: 100px;
  top: 2350px;
}

.projects {
  margin-top: 100px;
  @include dflexColumn($g: clamp(100px, 10vw, 150px), $ai: center);
}

/* =============
MEDIA - QUERIES
=============*/
@media (max-width: 1024px) {
  .ellipse-four {
    top: 920px;
    right: -300px;
  }

  .ellipse-five {
    display: none;
  }

  .ellipse-six {
    top: unset;
    bottom: 20%;
    left: 0;
  }

  .ellipse-seven {
    top: unset;
    bottom: 400px;
  }
}

@media (max-width: 750px) {
  .ellipse-three {
    top: 15%;
    left: -215px;
  }
}

@media (max-width: 680px) {
  .ellipse-four {
    right: -150px;
  }

  .ellipse-seven {
    right: 0;
    z-index: -1;
  }
}

@media (max-width: 450px) {
  .ellipse-four {
    right: -50px;
  }

  .ellipse-seven {
    bottom: 580px;
  }
}
