@import "./../../../styles.scss";

main {
  padding-block: 100px;
  padding-inline: 64px;
  position: relative;
}

.headline {
  @include dflexColumn($g: 20px, $ai: flex-start);
  max-width: 680px;
  > h1 {
    font-family: "Baloo 2";
    font-size: 100px;
    font-weight: 600;
    color: #57e8a2;
    line-height: 0.8;
  }
  > p {
    font-size: 23px;
  }
}

.ellipse-one {
  width: 100px;
  position: absolute;
  top: 50px;
  left: 500px;
}

.ellipse-two {
  width: 180px;
  position: absolute;
  right: 100px;
  top: 150px;
}

.ellipse-three {
  width: 400px;
  position: absolute;
  left: -200px;
  top: 500px;
  z-index: -1;
}

.ellipse-four {
  width: 650px;
  position: absolute;
  top: 800px;
  right: -325px;
  z-index: -1;
}

.ellipse-five {
  width: 50px;
  position: absolute;
  top: 1200px;
  left: 150px;
}

.projects {
  margin-top: 100px;
  @include dflexColumn($g: 100px, $ai: flex-start);
}
