<main>
  <app-header></app-header>
  <img class="corner-ellipse" src="./../../assets/img/Ellipse 9.png" />

  <section class="headline">
    <p>Hello ! I am Dimitri</p>
    <div>
      FRONTEND <br />
      DEVELOPER
    </div>
  </section>

  <section class="connect-with-me">
    <a href="https://github.com/diimmeeyyyyy"
      ><img src="/assets/img/Github button s2.png"
    /></a>
    <a href="mailto:dimitrioskapetanis1996@gmail.com"
      ><img src="/assets/img/Email button s2.png"
    /></a>
    <a href=""><img src="/assets/img/Linkedin button s2.png" /></a>
  </section>

  <section class="scroll-down">
    <p>scroll</p>
    <p></p>
  </section>

  <img class="bottom-ellipse" src="./../../assets/img/Ellipse 9.png" />
</main>

<!-- class="scroll-down-guide-line"> -->