@import "./../../../../styles.scss";

main {
  height: 117px;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > img {
    z-index: 1;
  }
  > nav {
    display: flex;
    gap: 36px;
    position: relative;
    > a {
      display: flex;
      justify-content: center;
      width: 130px;
      text-decoration: none;
      color: #57e8a2;
      font-size: 23px;
      font-weight: 400;
      transition: font-weight 0.3s ease-in-out;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
