@import "./../../../../styles.scss";

main {
  height: 117px;
  padding-inline: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > img {
    z-index: 1;
  }
  > nav {
    display: flex;
    gap: 36px;
    position: relative;
    > a {
      text-decoration: none;
      color: #57e8a2;
      font-size: 23px;
      font-weight: 400;
      &:hover {
        font-weight: bold;
      }
    }
  }
}
