main {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  > div {
    animation: fadeInScaleUp 0.5s ease-out forwards;
    position: relative;
    width: 50vw;
    background-color: white;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(87, 232, 162, 1);
    border-right: 2px solid rgba(87, 232, 162, 1);
    border-left: 2px solid rgba(87, 232, 162, 1);
    filter: drop-shadow(2px 4px 6px black);
    > h1 {
      color: rgba(87, 232, 162, 1);
      padding-bottom: 10px;
    }
    > img {
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
      &:hover {
        background-color: lightcoral;
        border-radius: 50%;
      }
    }
  }
}

@keyframes fadeInScaleUp {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 680px) {
  main {
    > div {
      width: 100%;
    }
  }
}
