<main class="project-container" [ngClass]="getContainerClass(index)">
  <section>
    <img [src]="projectData.img" loading="eager" />
  </section>
  <section class="project-information">
    <h1>{{ projectData.title }}</h1>
    <h2>{{ projectData.skills }}</h2>
    <p class="project-description">
      {{ projectData.description }}
    </p>
    <div>
      <a [href]="projectData.github" target="_blank">
        <button class="button-settings">Github</button>
      </a>
      <a [href]="projectData.livetest" target="_blank">
        <button class="livetest-button">
          {{ "livetestbutton" | translate }}
        </button>
      </a>
    </div>
  </section>
</main>
