<main>
  <aside>
    <h1>skill set</h1>

    <section>
      <div>
        <span>
          <img src="./../../assets/img/angularIcon.png" />
          <p>Angular</p>
        </span>
        <span>
          <img src="./../../assets/img/TypescriptIcon.png" />
          <p>Typescript</p>
        </span>
        <span>
          <img src="./../../assets/img/Javascript.png" />
          <p>Javascript</p>
        </span>
        <span>
          <img src="./../../assets/img/FirebaseIcon.png" />
          <p>Firebase</p>
        </span>
      </div>
      <div>
        <span>
          <img src="./../../assets/img/HTMLIcon.png" />
          <p>HTML</p>
        </span>
        <span>
          <img src="./../../assets/img/CSSIcon.png" />
          <p>CSS</p>
        </span>
        <span>
          <img src="./../../assets/img/scrumIcon.png" />
          <p>Scrum</p>
        </span>
        <span>
          <img src="./../../assets/img/GitIcon.png" />
          <p>GIT</p>
        </span>
      </div>
    </section>
  </aside>
</main>
