<main>
  <div class="content-wrapper">
    <img src="./../../assets/img/Ellipse 9.png" />
    <section data-aos="fade-right">
      <p>{{ "letswork" | translate }}</p>
      <p>{{ "togehter" | translate }}</p>
    </section>

    <section data-aos="fade-right">
      <article>
        {{ "presentation" | translate }}<br /><br />
        {{ "proposal" | translate }}
      </article>
      <!--  <button class="button-settings">Send a message</button> -->
      <a href="#Contact">
        <button class="button-settings">{{ "sendmessage" | translate }}</button>
      </a>
    </section>
  </div>
</main>
