<main>
  <img src="./../../assets/img/Ellipse 9.png" />
  <section>
    <p>Let's work</p>
    <p>together</p>
  </section>

  <section>
    <article>
      I am a 27- years old Front-end developer based in Dortmund, Germany. I
      would love to help Designers and companies bring their ideas into real
      life. I am looking forward to start my developer career with a job in a
      junior web developer position.<br /><br />
      If you think I'd be a good match for your projects, contact me!
    </article>
    <!--  <button class="button-settings">Send a message</button> -->
    <a href="#Contact">
      <button class="button-settings">Send a message</button>
    </a>
  </section>
</main>
