<main>
  <h1>
    {{ "privacypolicy" | translate }}
  </h1>
  <p>
    {{ "privacypolicy1" | translate }}
  </p>
  <br />
  <p>
    {{ "privacypolicy2.1" | translate }}
    <strong>{{ "privacypolicy2.2" | translate }}</strong
    >, {{ "privacypolicy2.3" | translate }} (<strong>{{
      "privacypolicy2.4" | translate
    }}</strong
    >) {{ "privacypolicy2.5" | translate }} (<strong>{{
      "privacypolicy2.6" | translate
    }}</strong
    >) {{ "privacypolicy2.7" | translate }}
  </p>
  <br />
  <p>
    {{ "privacypolicy3" | translate }}
  </p>
</main>
