<main>
  <!-- <img src="./../../../../assets/img/close.png" (click)="close()" /> -->
  <h1>{{ "imprint" | translate }}</h1>
  <p>{{ "informationpursuantto§5TMG" | translate }}</p>
  <p>
    Dimitrios Kapetanis <br />
    Hauptstraße 42<br />
    59439 Holzwickede <br />
  </p>
  <p>
    <strong>{{ "representedby" | translate }}</strong
    ><br />
    Dimitrios Kapetanis<br />
  </p>
  <p>
    <strong>{{ "contact" | translate }}</strong> <br />
    {{ "phone" | translate }}: 02301-912994<br />
    Email:
    <a href="mailto:dimitrioskapetanis1996@gmail.com"
      >dimitrioskapetanis1996Atgmail.com</a
    >
  </p>
  <br />
  <p>
    <strong>{{ "disclaimer" | translate }}: </strong><br /><br /><strong>{{
      "liabilityforlinks" | translate
    }}</strong
    ><br /><br />
    {{ "imprinttext" | translate }}
  </p>
  <br />
  {{ "websitecreatedby" | translate }}
  <a href="https://www.impressum-generator.de">impressum-generator.de</a>
  {{ "bythe" | translate }}
  <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">{{
    "lawfirm" | translate
  }}</a>
</main>
