<main>
    <!-- <img src="./../../../../assets/img/close.png" (click)="close()" /> -->
    <h1>Imprint</h1>
    <p>Information pursuant to § 5 TMG</p>
    <p>
      Dimitrios Kapetanis <br />
      Hauptstraße 42<br />
      59439 Holzwickede <br />
    </p>
    <p>
      <strong>Represented by: </strong><br />
      Dimitrios Kapetanis<br />
    </p>
    <p>
      <strong>Contact:</strong> <br />
      Phone: 02301-912994<br />
      Email:
      <a href="mailto:dimitrioskapetanis1996@gmail.com"
        >dimitrioskapetanis1996Atgmail.com</a
      >
    </p>
    <br />
    <p>
      <strong>Disclaimer: </strong><br /><br /><strong
        >Liability for Links</strong
      ><br /><br />
      My offer contains links to external websites of third parties, over whose
      content I have no influence. Therefore, I cannot assume any liability for
      these external contents. The content of linked pages is always the
      responsibility of the respective provider or operator of the sites. The
      linked pages were checked for possible legal violations at the time of
      linking. Illegal content was not recognizable at the time of linking.
      However, a permanent content control of the linked pages is not reasonable
      without specific indications of a violation of the law. Upon becoming
      aware of violations, I will promptly remove such links.
    </p>
    <br />
    Website imprint created by
    <a href="https://www.impressum-generator.de">impressum-generator.de</a> by
    the
    <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow"
      >law firm Hasselbach</a
    >
</main>
