/* You can add global styles to this file, and also import other style files */
* {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, white, rgb(215, 255, 235));
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(128.95deg, #57e8a2 32.52%, #33b476 104.12%);
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    128.95deg,
    darken(#57e8a2, 20%) 32.52%,
    #33b476 104.12%
  );
}

:target:before {
  content: "";
  display: block;
  height: 120px;
  margin: -120px 0 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

p,
h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

@mixin dflexColumn($jc: center, $ai: center, $g: 0) {
  display: flex;
  flex-direction: column;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin projectContainer($fd){
  display: flex;
  align-items: center;
  gap: clamp(24px, 3vw, 80px);
  flex-direction: $fd;
}

.button-settings {
  padding-block: clamp(13px, 5vw, 15px);
  padding-inline: clamp(24px, 5vw, 30px);
  border: 2px solid #57e8a2;
  border-radius: 10px;
  color: #57e8a2;
  cursor: pointer;
  background-color: transparent;
  font-size: clamp(18px, 4vw, 23px);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  &:hover {
    animation: fillButton 100ms ease-in-out forwards;
    animation-delay: 1ms;
    color: white;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
  }
  &:active {
    background-color: #33b476;
  }
}

.livetest-button {
  padding-block: clamp(13px, 5vw, 15px);
  padding-inline: clamp(24px, 5vw, 30px);
  border: 2px solid #57e8a2;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-color: #57e8a2;
  font-size: clamp(18px, 4vw, 23px);
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  &:hover {
    animation: fillButton 100ms ease-in-out forwards;
    animation-delay: 1ms;
    color: white;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1.1);
  }
  &:active {
    background-color: #33b476;
  }
}

.button-disabled {
  padding: 15px 30px;
  border: 2px solid rgba(187, 187, 187, 1);
  border-radius: 10px;
  color: rgba(187, 187, 187, 1);
  background-color: transparent;
  font-size: 23px;
}

@keyframes fillButton {
  0% {
    background-color: transparent;
  }
  25% {
    background: linear-gradient(
      45deg,
      #57e8a2 0%,
      #33b476 50%,
      #ffffff 50%,
      #ffffff 100%
    );
  }
  60% {
    background: linear-gradient(
      45deg,
      #57e8a2 0%,
      #33b476 50%,
      #ffffff 50%,
      #ffffff 100%
    );
  }
  100% {
    background: radial-gradient(circle, #57e8a2 0%, #33b476 100%);
  }
}

@mixin inputfield-setting($height: unset, $padding-top: 0) {
  cursor: pointer;
  font-family: "Montserrat";
  height: $height;
  width: 500px;
  border-radius: 10px;
  border: 1px solid rgba(87, 232, 162, 1);
  font-size: 16px;
  padding: 15px 25px;
  &::placeholder {
    font-size: 16px;
  }
  &:not(:focus):hover {
    border: 2px solid rgba(87, 232, 162, 1);
    padding: 14px 24px;
  }
}

/* montserrat-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: url("./assets/fonts/montserrat-v26-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: url("./assets/fonts/montserrat-v26-latin-100italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/montserrat-v26-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: url("./assets/fonts/montserrat-v26-latin-200italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/montserrat-v26-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: url("./assets/fonts/montserrat-v26-latin-300italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v26-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: url("./assets/fonts/montserrat-v26-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/montserrat-v26-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: url("./assets/fonts/montserrat-v26-latin-500italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/montserrat-v26-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: url("./assets/fonts/montserrat-v26-latin-600italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/montserrat-v26-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: url("./assets/fonts/montserrat-v26-latin-700italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/montserrat-v26-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: url("./assets/fonts/montserrat-v26-latin-800italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/montserrat-v26-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: url("./assets/fonts/montserrat-v26-latin-900italic.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* baloo-2-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/baloo-2-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-2-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/baloo-2-v21-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-2-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/baloo-2-v21-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-2-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/baloo-2-v21-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* baloo-2-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Baloo 2";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/baloo-2-v21-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ============
KEYFRAMES
===============*/
@keyframes fade-in {
   /*  0% {
        opacity: 0;
        transform: translateY(-50px);
    } */
    25% {
        opacity: 0.25;
        transform: translateY(-35px);
    }
    50% {
        opacity: 0.5;
        transform: translateY(-10px);
    }
    75% {
        opacity: 0.75;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-opacity {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  25% {
    opacity: 0.25;
    transform: translateX(75%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  75% {
    opacity: 0.75;
    transform: translateX(25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-75%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-50%);
  }
  75% {
    opacity: 0.75;
    transform: translateX(-25%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-left-using-left {
  /* 0% {
    opacity: 0;
    left: -100%;
  } */
  25% {
    opacity: 0.25;
    left: -75px;
  }
  50% {
    opacity: 0.5;
    left: -50px;
  }
  75% {
    opacity: 0.75;
    left: 25px;
  }
  100% {
    opacity: 1;
    left: 100px; /* Endposition */
  }
}