@import "./../../../styles.scss";

main {
  position: relative;
  @include dflexColumn();
  background: linear-gradient(128.95deg, #57e8a2 32.52%, #33b476 104.12%);
  /* @include fadeInSettings($offset: 100px); */
  > div {
    @include dflexColumn();
    padding-block: 50px;
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
  }
  > div h1 {
    font-family: "Baloo 2";
    font-size: clamp(60px, 11vw, 100px);
    color: white;
  }
}

.all-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: clamp(32px, 10vw, 50px);
  column-gap: clamp(32px, 10vw, 250px);
  justify-content: center;
}

.one-skill {
  width: 80px;
  @include dflexColumn($g: 10px);
  transition: transform 0.3s ease-in-out;
  > figcaption {
    color: white;
    font-size: 16px;
    font-weight: 400;
    transition: font-weight 0.3s ease-in-out;
  }

  > img {
    transition: transform 0.3s ease-in-out;
    height: clamp(60px, 9vw, 75px);
  }

  &:hover {
    > img {
      transform: translate(5px, -15px);
    }
    > figcaption {
      font-weight: bold;
    }
  }
}

/* ============
MEDIA - QUERIES
================*/
@media (max-width: 550px) {
  .all-skills {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}
